body{
    background-color: aliceblue;
    margin: auto;
    text-align: center;
}

h1{
    color: whitesmoke;
    background-color: darkslategrey;
    margin-top: 0;
    padding: 25px;
}

input{
    height: 80px;
    width: 150px;
    border-radius: 25px;
    font-size: 50px;
    text-align: center;
}

input:hover{
    background-color: lightgreen;
}

button{
    font-size: xx-large;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

button:hover{
    background-color: green;
}

.currentOp{
    background-color: green;
}

#calcContainer{
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

#clear{
    margin: 20px;
    width: 100px;
}

#deleteButton{
    font-size: small;   
    width: 120px;
    height: 30px;
    background-color: crimson;
    color: whitesmoke;
}

#showAnswer h3{
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    height: 50px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    background-color: green;
}